*.iml
.gradle
/local.properties

/com.kana_tutor.animated_kanji_dic
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/dictionaries
/.idea/gradle.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/.name
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml

/build
released
snapshots
err
.*.sw*
*.sw*
*/*.sw*
t
t[0-9]
*.tmp
*.jks
